@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

@theme {
  --color-black: #1b1b1b;
  --color-secondary: #ffffff;
  --color-blue: #2c3648;
  --color-gray: #6b7280;
  --color-gold: #edbf6d;

  --text-large: 3.2rem;
  --text-medium: 1.1rem;
  --text-default: 1rem;
  --text-small: 0.875rem;
}
